<div class="container">
    {% paginate collection.products by 2 %}
        <div class="row my-5">
            <h1 class="text-center">{{ collection.title }}</h1>
        </div>
        <div class="row justify-content-center">
            {% for product in collection.products %}
                {% assign image = product.featured_media.preview_image %}
                <div class="col-3 g-2">
                    <div class="card" style="width: 18rem;">
                        {% if image != blank %}
                            <img class="card-img-top" src="{{ image | img_url:'medium' }}" alt="{{ product.title }}">
                        {% else %}
                            <!-- place holder image, for items do not have images -->
                            {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                        {% endif %}
                        <div class="card-body">
                            <h3>
                                <a href="{{ product.url }}">{{ product.title }}</a>
                            </h3>
                            <p>{{ product.price | money_without_trailing_zeros }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>no matches</p>
            {% endfor %}

            {% if paginate.pages > 1 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center my-5">
                        {% if paginate.previous.is_link %}
                            <li class="page-item">
                                <a class="page-link" href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        {% for part in paginate.parts %}
                            {% if part.is_link %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ part.url }}">{{ part.title }}</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="{{ part.url }}">{{ part.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if paginate.next.is_link %}
                            <li class="page-item">
                                <a class="page-link" href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
        {% endif %}
    {% endpaginate %}
</div>
