{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <img class="img-fluid" src="{{ product_image | img_url: 'large' }}" alt="{{ product_image.alt }}" id="ProductMainImage"/>
            {% for image in product.images %}
                <img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt }}">
            {% endfor %}
        </div>
        <div class="col-md-6 col-12">
            <h1>{{ product.title }}</h1>
            <p>{{ current_product.price | | money_with_currency }}</p>

			{% form %}
			{% endform %}
        </div>
    </div>
</div>